html, body {
    margin: 0;
    height: 100%;
}

span {
    vertical-align: middle;
}

.recording-dot {
    height: 15px;
    width: 15px;
    transform: translateX(-20px);
    background-color: #FF0000;
    border-radius: 50%;
    display: inline-block;
    animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}

@-webkit-keyframes blink-animation {
    to {
        visibility: hidden;
    }
}

#skycam-info-graphic {
    position: fixed;
    transform: translateY(60px);
}

#vert-news-scroll-infographic {
    font-family: Arial, Helvetica, sans-serif;
    left: 5%;
    bottom: 5%;
    position: fixed;
    background-color: #F8F9F8;
    height: 225px;
    width: 275px;
    border: 1px solid #b9b9b9;
    text-align: center;
}

#live {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    letter-spacing: 30px;
    text-align: right;
    color: #F8F9F8;
    border-radius: 0px 8px 0px 0px;
    background-color: #1B7EBF;
    width: 400px;
    top: 25px;
}

#skycam {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    text-align: right;
    padding-right: 20px;
    background-color: #1D2221;
    color: #F8F9F8;
    width: 380px;
}

#sky {
    color: #1B7EBF;
    font-size: 20px;
    text-align: center;
    padding-right: 5px;
}

.menu {
    scale: .25;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.options-menu-icon {
    transform-origin: left top;
    scale: .3;
    position: fixed;
    top: 5px;
    left: 5px;
    cursor: pointer;
    opacity: 0.9;
    z-index: 2;
}

.options-menu-icon:hover {
    transform: scale(1.05);
}

#cog-small,
#cog-big {
    animation-name: spin;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transform-origin: 50px 78px;
    animation-play-state: paused;
}

#cog-small {
    animation-duration: 2000ms;
    animation-direction: reverse;
    transform-origin: 93px 24px;
}

#container {
    height: 100%;
}

svg:hover #cog-big,
svg:hover #cog-small {
    animation-play-state: running;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}